/* Comment here */

* {

    display: grid;

    box-sizing: border-box;

    margin: 5%;

    padding: 5%;

    border: 5% solid black;

}

h1 {

    font-family: Arial, Helvetica, sans-serif;

}

p {

    color: green;

    font-style: bold;

}

body {
    
    background-color:greenyellow;

    align-content: center;

}

img {

    height: 50%;

    width: 50%;

}

.set {

    justify-self: center;
    
}