/* Comment here */

header {background-color: red;}

footer {background-color: black;}

h1, p {

    font-family: Arial, Helvetica, sans-serif;

}

.footText {color: white}

p {

    color: green;

    font-style: bold;

}

body {
    
    background-color:greenyellow;

    align-content: center;

}