/* Comment here */

* {

    display: flex;

    box-sizing: border-box;

    margin: 0;

    padding: 0;

    border: 5px solid black;

}

h1 {

    font-family: Arial, Helvetica, sans-serif;

}

p {

    color: green;

    font-style: bold;

}

body {
    
    background-color:greenyellow;

    align-content: center;

}

img {

    height: 50%;

    width: 50%;

}

div {

    height: 50%;

    width: 50%;
    
}

.set {

    height: 50%;

    width: 50%;

}
